<div class="container">
  <header class="jumbotron">

    <div class="p-col-12 p-md-4">
      <p style="color:rgb(21, 22, 21); ; font-size:18px">*Enter a Keyword: </p>
      <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Keyword" #txt>   
          <button  pButton type="button" label="Search" (click)="getTextVal(txt)"></button>      
      </div>
  </div>


  <h3 style="color:green; font-family:courier" >

   Positive Tweets:

</h3 >
  <p style="color:green; ; font-size:50px">{{ resultDT.resp}}%</p>

  <h3 style="color:red; font-family:courier">
    Negative Tweets:
</h3>
  <p style="color:red; font-size:50px">{{ resultDT.resn}}%</p>
  
  </header>
</div>

<div style="text-align:left;width:500px;">
  <h1 style="color:rgb(12, 1, 15); font-family:courier" >
      Analysis Results
  </h1>

  <table >
      <!-- ADD HEADERS -->
      <tr>
          <th  style="background-color:rgb(51, 53, 53); color:rgb(243, 243, 243);">Tweet</th>
              <th style="background-color:rgb(51, 53, 53);color:rgb(243, 241, 243);">Sentiment</th>
                  
      </tr>

      <!-- BIND ARRAY TO TABLE -->
      
      
      <tr >
            
                 <td  >{{resultDT.data[1]}}</td>
           
                  <td>{{resultDT.Sentiment[1]}}</td>
      </tr>

      <tr >
            
        <td  >{{resultDT.data[2]}}</td>
  
         <td>{{resultDT.Sentiment[2]}}</td>
</tr>

<tr >
            
  <td  >{{resultDT.data[3]}}</td>

   <td>{{resultDT.Sentiment[3]}}</td>
</tr>

<tr >
            
  <td  >{{resultDT.data[4]}}</td>

   <td>{{resultDT.Sentiment[4]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[5]}}</td>

   <td>{{resultDT.Sentiment[5]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[6]}}</td>

   <td>{{resultDT.Sentiment[6]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[7]}}</td>

   <td>{{resultDT.Sentiment[7]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[8]}}</td>

   <td>{{resultDT.Sentiment[8]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[9]}}</td>

   <td>{{resultDT.Sentiment[9]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[11]}}</td>

   <td>{{resultDT.Sentiment[11]}}</td>
</tr>
<tr >
            
  <td  >{{resultDT.data[12]}}</td>

   <td>{{resultDT.Sentiment[12]}}</td>
</tr>


  </table>
</div>

